@highlight-color:#00B600;
@background-color:#F4FFF4;
@base-font-color:#333333;
@base-font:Arial, Helvetica, sans-serif;

body
{
	border-top:2px solid @highlight-color;
	background:@background-color;
	font-family:@base-font;
	color:@base-font-color;
}

header 
{
	height: 200px;
	background-color: #A6F7A6;

	h1 
	{
		font-size: 35px;
		width: 100%;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%); 
	}
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.item-content {
	float: left;
	margin:20px 0;

	article {
		width: 30%;
		float: left;
		margin-right: 20px;
	}

	article:last-of-type {
		margin-right: 0;
	}
}

footer
{
	width: 100%;
	height: 20px;
	background-color: grey;
	float: left;

	a {
		font-size: 12px;
		width: 100%;
		text-align: center;
		line-height: 20px;
		float: left;
	}
}